@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,700&family=Sen&display=swap');


.a{
    border: red dotted;
}
.b{
    border: blue dotted;
}
.c{
    border: green dotted;
}

/* LOGO */
.logo-img{
    height: 50px;
    width: 50px;
}

.img-logout{
    height: 20px;
    width: 20px;
}

.logo-cont{
    width: 300px;
    height: 100px;
}

.L,.S{
    font-family: Sansita;
    font-size: 50px;
}
.L1,.S1{
    font-family: Sen;
    font-size: 19px;
}

/* Sidebar img */

.sb-logo1{
    height: 30px;
    width: 30px;
}

.sb-logo2{
    height: 40px;
    width: 40px;
}

.sb-logo3{
    height: 40px;
    width: 40px;
}

.sb-logo4{
    height: 40px;
    width: 40px;
}

/* Tablessss*/

table,th,td {
    border: 1px solid black;   
     padding: 8px;
     text-align: center;
     font-size: 13px;
}

th{ 
    background-color: rgb(39, 198, 204);
}
.btn-spacing{
    width: 50px;    
    font-size: small; 
}

.btn-width{
    width: 90px;
}



.topnavbar{
    z-index: 1;
    background-color: rgb(39, 198, 204);
}


.sidenav {
    height: 100%; 
    width: 350px; 
    position: fixed;
    top: 0; 
    left: 0;
    background-color: rgb(207, 204, 204); 
    overflow-x: hidden;
    padding-top: 140px;
  }
  
   
  .sidenav a {
    padding: 20px 8px 20px 90px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    display: block;
    
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }

  /*   book-management   */

  .fnt{
       font-size: 11px;
       color: white;
       width: 60px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }